@mixin btns($color) {
    text-align: center;
    background-color: $color;
    color: white;
    border: 2px solid $color;
    margin: 2px;
    font-family: $hfont;
    font-size: 1.5em;
}

body {
    background-image: url('images/mardigras.jpg');
    background-size: cover;
    background-attachment: fixed;

    .container {
        width: 80%;
        height: 100%;
        background-color: hsla(0, 0%, 96%, 0.76);
    }
}

.form1 {
    background-image: url('images/last2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    z-index: -1;
    width: 65%;
    height: auto;
    margin: 0 auto;
    background-color: hsla(0, 0%, 96%, 0.849);
    border-radius: 1.5em;
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color: hsla(0, 0%, 96%, 0.849);
    border-radius: 1.5em;
    box-sizing: border-box;

    .icons {
        width: 160px;
        height: 50px;
        margin: 0 auto;
    }
}

.sidenav {
    width: 11%;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    display: block;
}

.frame {
    width: 100%;
    height: 440px;
    float: left;
    position: sticky;
}

h1,
h2 {
    font-family: $hfont;
    text-align: center;
    color: $homecolor;
    font-size: $hsize;
}

.home {
    @include btns($homecolor);

    &:hover {
        background-color: darken($homecolor, 10%);
        box-shadow: 2px 2px 2px ($homecolor);

    }
}

.about {
    @include btns($aboutcolor);

    &:hover {
        background-color: darken($aboutcolor, 5%);
        box-shadow: 2px 2px 2px ($aboutcolor);

    }
}

.media {
    @include btns($mediacolor);
    display: inline;

    &:hover {
        background-color: darken($mediacolor, 5%);
        box-shadow: 2px 2px 2px ($mediacolor);

    }
}

.faq {
    @include btns($FAQcolor);
    color: black;

    &:hover {
        background-color: darken($FAQcolor, 5%);
        box-shadow: 2px 2px 2px ($FAQcolor);
        color: gray;

    }
}

.contact {
    @include btns($contactcolor);

    &:hover {
        background-color: darken($contactcolor, 5%);
        box-shadow: 2px 2px 2px ($contactcolor);
        color: gray;

    }
}

.imgim {
    height: 80vh;
    border-radius: 1.5em;
}

@media (max-width: 993px) {
    .imgim {
        height: auto;
    }

    .imgims {
        width: 100%;
        height: 10vh;
        border: 2px dotted $mediacolor;
        border-radius: 5%;
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        display: none;
    }

    .sidenav {
        display: none;
    }

    .gridtemp {
        height: auto;
    }

    .form1 {
        width: 100%;
        height: 100%;

        label {
            width: 150px;
            height: 30px;
            text-align: left;
            font-size: 2em;
            font-family: $hfont;
            color: $contactcolor;
        }

        .submit {
            background-color: $mediacolor;
            color: white;
            font-family: $hfont;
            font-size: 1em;
            border-radius: 1.5em;
            position: absolute;
            left: 15%;
            width: 65px;
            height: 30px;
        }

        .reset {
            background-color: $aboutcolor;
            color: white;
            font-family: $hfont;
            font-size: 1em;
            position: absolute;
            right: 15%;
            width: 65px;
            height: 30px;
        }
    }

    p {
        font-family: $tfont;
        text-align: center;
        font-size: $tsize;
    }

    .idm {
        border: 2px dotted $homecolor;
        margin: 0 auto;
        width: 250px;
        height: 100%;
        padding: 0.5%;
        box-sizing: border-box;
        border-radius: 1.5em;


    }

    .mayor {
        width: 100%;
        border: none;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        border-radius: 1.5em;
    }


    .info {
        box-sizing: border-box;
        font-family: $tfont;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
        font-family: $hfont;
        color: $homecolor;
    }

    .item1 {
        width: 100%;
        height: auto;
        border: 2px dotted $mediacolor;
        border-radius: 5%;
        padding-left: 0;
        padding-right: 0;
    }

}

.copy {
    text-align: center;
}

.sponsers {
    text-align: center;
}

.spons {
    width: 92px;
    height: 100px;
    padding: 5px;
    border-radius: 30%;
    border: 3px outset $mediacolor;
}

p {
    font-family: $tfont;
    text-align: center;
    font-size: $tsize;
}


@media (min-width: 994px) {

    form {
        padding: 1%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 0.5%;

        .name2 {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .name {
            grid-row: 3/4;
            grid-column: 1/2;
        }

        .feed1 {
            grid-row: 2/3;
            grid-column: 1/2;
            margin-top: 15%;
            text-align: center;
            font-family: $tfont;
        }

        .lname {
            grid-row: 3/4;
            grid-column: 4/5;
        }

        .laname {
            grid-row: 2/3;
            grid-column: 4/5;
        }

        .feed2 {
            grid-row: 2/3;
            grid-column: 4/5;
            margin-top: 15%;
            text-align: center;
            font-family: $tfont;
        }

        .lemail {
            grid-row: 4/5;
            grid-column: 1/2;
        }

        .email {
            grid-row: 5/6;
            grid-column: 1/2;
        }

        .feed3 {
            grid-row: 4/5;
            grid-column: 1/2;
            margin-top: 15%;
            text-align: center;
            font-family: $tfont;
        }

        .message {
            grid-row: 4/5;
            grid-column: 4/5;
        }

        textarea {
            grid-row: 5/8;
            grid-column: 4/5;
        }

        .feed4 {
            grid-row: 4/5;
            grid-column: 4/5;
            margin-top: 15%;
            text-align: center;
            font-family: $tfont;
        }

        .submit {
            grid-row: 9/10;
            grid-column: 1/2;
            background-color: $mediacolor;
            color: white;
            font-family: $hfont;
            font-size: 2em;
            border-radius: 1.5em;
        }

        .reset {
            grid-row: 9/10;
            grid-column: 4/5;
            background-color: $aboutcolor;
            color: white;
            font-family: $hfont;
            font-size: 2em;
        }

        label {
            text-align: center;
            font-size: 2em;
            font-family: $hfont;
            color: $homecolor;
        }
    }

    p {
        font-family: $tfont;
        text-align: center;
        font-size: $tsize;
    }

    .idm {
        margin: 0 auto;
        border: 2px dotted $homecolor;
        width: 50%;
        height: 100%;
        padding: 0.5%;
        box-sizing: border-box;
        border-radius: 1.5em;


    }

    .mayor {
        width: 100%;
        border: none;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        border-radius: 1.5em;
    }


    .info {
        box-sizing: border-box;
        font-family: $tfont;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
        font-family: $hfont;
        color: $homecolor;
    }

    .imgims {
        width: 100%;
        height: 30vh;
        border: 2px dotted $mediacolor;
        border-radius: 5%;
        padding-left: 0;
        padding-right: 0;
    }

    .item1 {
        width: 100%;
        height: 60vh;
        border: 2px dotted $mediacolor;
        border-radius: 5%;
        padding-left: 0;
        padding-right: 0;
    }
}



textarea,
input {
    font-family: $tfont;
    text-align: center;
    font-size: $tsize;
    border-radius: 0.8em;
}

.grouped_elements {
    width: 30%;
    height: auto;
}

.qaa {

    border-radius: 10px;
    text-align: center;
    font-family: $hfont;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

.ho {
    background-color: $homecolor;
    border-radius: 10px;
    border: 1px solid rgb(250, 229, 201);
}

.ab {
    background-color: $aboutcolor;
    border-radius: 10px;
    border: 1px solid rgb(250, 229, 201);
}

.me {
    background-color: $mediacolor;
    border-radius: 10px;
    border: 1px solid rgb(250, 229, 201);
}

.fa {
    background-color: $FAQcolor;
    border-radius: 10px;
    border: 1px solid rgb(250, 229, 201);
}

.co {
    background-color: $contactcolor;
    border-radius: 10px;
    border: 1px solid rgb(250, 229, 201);
    color: antiquewhite;
}

.ing2 {
    padding: 0.5em;
    border-radius: 1.5em;
    background-color: hsla(0, 0%, 96%, 0.849);
    ;
}

.logo {
    width: 100px;
    height: 100px;
}

.gridtemp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5%;

    #item {
        grid-row: 3/4;
        grid-column: 1/5;
    }

    #item1 {
        grid-row: 6/8;
        grid-column: 1/2;
    }

    #item2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    #item3 {
        grid-row: 7/9;
        grid-column: 4/5;
    }

    #item4 {
        grid-row: 9/10;
        grid-column: 1/3;
    }

    #item5 {
        grid-row: 9/10;
        grid-column: 3/5;
    }

    #item6 {
        grid-row: 5/7;
        grid-column: 3/5;
    }

    #item7 {
        grid-row: 8/9;
        grid-column: 2/4;
    }

    #item8 {
        grid-row: 2/3;
        grid-column: 3/5;
    }
}